<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mongoDb" value="mongodb://{YOUR-REPLICA-SET-NODES}/?connect=replicaset" />
    <!-- Failover messaging: -->
    <add key="PrimaryQueueClientType" value="BurgerShop.Azure.QueueClient,BurgerShop.Azure" />
    <!--<add key="SecondaryQueueClientType" value="BurgerShop.Aws.QueueClient,BurgerShop.Aws" />-->
    <add key="SecondaryQueueClientType" value="" />
    <add key="PrimaryTopicClientType" value="BurgerShop.Azure.TopicClient,BurgerShop.Azure" />
    <!--<add key="SecondaryTopicClientType" value="BurgerShop.Aws.TopicClient,BurgerShop.Aws" />-->
    <add key="SecondaryTopicClientType" value="" />
    <!-- Queue connections: -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://burgershop.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=HByHhQW6J0vgqbVVi3G/pJSEIl9vpnn7cY/cIyv1rq8=" />
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>