<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://burgershop.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>burgershop.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BurgerShop</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BurgerShop</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BurgerShop" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:m950d245pc.database.windows.net,1433;Initial Catalog=BurgerShop;User ID=sql_admin@m950d245pc;Password=p@ssW0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BurgerShop.Data.BurgerShopContext, BurgerShop.Data" MigrationConfiguration="BurgerShop.Data.Migrations.Configuration, BurgerShop.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BurgerShop-Web.config Connection String">
      <ParameterValue>Data Source=tcp:m950d245pc.database.windows.net,1433;Initial Catalog=BurgerShop;User ID=sql_admin@m950d245pc;Password=p@ssW0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="BurgerShop" />
  </ItemGroup>
</Project>