<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Failover messaging: -->
    <add key="PrimaryQueueClientType" value="BurgerShop.Azure.QueueClient,BurgerShop.Azure" />
    <add key="SecondaryQueueClientType" value="BurgerShop.Aws.QueueClient,BurgerShop.Aws" />
    <add key="PrimaryTopicClientType" value="BurgerShop.Azure.TopicClient,BurgerShop.Azure" />
    <add key="SecondaryTopicClientType" value="BurgerShop.Aws.TopicClient,BurgerShop.Aws" />
    <!-- Queue connections: -->
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://sc-psod-reactive.servicebus.windows.net/;SharedAccessKeyName=Subscriber;SharedAccessKey=evo5yWKigUnGkArrKvvpACwSLYbaiq0E0dLeRss5JPg=" />
    <add key="AWSAccessKey" value="AKIAIUON35ES44HI4JCQ" />
    <add key="AWSSecretKey" value="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" />
  </appSettings>
    <system.diagnostics>
        <trace>
            <listeners>
                <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                    name="AzureDiagnostics">
                    <filter type="" />
                </add>
            </listeners>
        </trace>
    </system.diagnostics>
</configuration>